@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
@font-face {
  font-family: 'Pobeda';
  src: url(/font/ofont.ru_Pobeda.ttf);
}

$spacefont: 'Havelock Titling';
$spacefontRUS: 'Pobeda';
.planets{
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
    top: 200px;
    position: absolute;
    left: 250px;
  
    @keyframes planetRotation {
  
    50% {
      background-position: 500% 0%;
      border: 0px solid #00000000;
    }
    100% {
      background-position: 1100% 0%;
      border: 0px solid #00000000;
    }
    }
   
    .planet-title { 

         font-family: $spacefontRUS;
         font-size: 32px;
        }
        .planet-title2 { 

          font-family: $spacefontRUS;
          font-size: 24px;
         }
      .planet-image {
       width: 570px;    
       height: 350px;
      }

  .earth{
  
    .infoearth {
      position: fixed;
      top: 0;
      right: -700px;
      width: 600px;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.9);
      transition: right 0.6s;
      z-index: 999;
      color: black;
      padding: 10px;
      overflow-y: auto;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      &.open {
        right: 0;
      }
    
      #closeinfo {
        border: 1px solid white;
        text-align: center;
        width: 110px;
        font-family: 'Pobeda';
        color: #ffffff;
        background-color: black;
        text-decoration: none;
        margin: 0 35px;
        font-size: 25px;
        position: relative;
        transition: all 0.5s;
        padding: 0 15px;
        top: -10px;
        cursor: pointer;

        &:hover {
            color: black;
            text-shadow: 0 0 4px rgba(255, 255, 255, 1);
            background-color: white;
            border: 1px solid black;
        }
    }
      #editTextBtn{
        display: none;
        border: 1px solid white;
        text-align: center;
        width: 50px;
        font-family: 'Pobeda';
        color: #ffffff;
        text-decoration: none;
        margin: 0 35px;
        font-size: 25px;
        position: relative;
        transition: all 0.5s;
        padding: 0 10px;
        top: -10px;
        cursor: pointer;
        &:hover {
            color: black;
            text-shadow: 0 0 4px rgba(255, 255, 255, 1);
            background-color: white;
            border: 1px solid black;
      }
  
    }
    #saveTextBtn{
      display: none;
      border: 1px solid white;
      text-align: center;
      width: 150px;
      font-family: 'Pobeda';
      color: #ffffff;
      text-decoration: none;
      margin: 0 35px;
      font-size: 25px;
      position: relative;
      transition: all 0.5s;
      padding: 0 10px;
      top: -10px;
      cursor: pointer;
      &:hover {
          color: black;
          text-shadow: 0 0 4px rgba(255, 255, 255, 1);
          background-color: white;
          border: 1px solid black;
    }
  }
   }
    a {
      span{ 
        left: 2px;
      }
      position: relative;
      display: inline-block;
      padding: 15px 30px;
      border: 2px solid #fefefe;
      text-transform: uppercase;
      color: #fefefe;
      text-decoration: none;
      font-weight: 100;
      font-size: 24px;
      letter-spacing: 3px;
      font-family: 'Pobeda';
      
    }
    
    a::before {
      content: '';
      position: absolute;
      top: 6px;
      left: -2px;
      width: calc(100% + 4px);
      height: calc(100% - 12px);
      background-color: #212121;
      transition: 0.3s ease-in-out;
      transform: scaleY(1);
    }
    
    a:hover::before {
      transform: scaleY(0);
    }
    
    a::after {
      content: '';
      position: absolute;
      left: 6px;
      top: -2px;
      height: calc(100% + 4px);
      width: calc(100% - 12px);
      background-color: #212121;
      transition: 0.3s ease-in-out;
      transform: scaleX(1);
      transition-delay: 0.5s;
    }
    
    a:hover::after {
      transform: scaleX(0);
    }
    
    a span {
      position: relative;
      z-index: 3;
    }
    
    button {
      position: relative;
      background-color: none;
      text-decoration: none;
      background-color: rgba(11, 11, 12, 0.473);
      border: none;
      top: 265px;
      left: 40px;
    }
    .txtearth{
      position: absolute;
      left: 34%;
      top: -70px;
      font-weight: 100;
      font-size: 24px;
      letter-spacing: 3px;
      font-family: 'Pobeda';
      font-size:x-large;
  
    }
    top: 100px;
    max-width: 250px;
    max-height: 250px;
    display: block;
    width: 20rem;
    height: 20rem;
    position: absolute;
    border-radius: 50%;
    background-image: url('https://www.solarsystemscope.com/textures/download/2k_earth_daymap.jpg');
    background-repeat: repeat-x;
    background-size: 110% 100%;
    opacity: 1;
    animation-name: planetRotation;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards !important;
    box-shadow: inset -10px 8px 6px -5px #5e5c5c, 
    inset 20px -20px 40px 30px rgba(0, 0, 0, 0.9), 7px -6px 14px rgba(0, 153, 255, 0.322);
    }
  
    .clouds{
      top: 100px;
      max-width: 250px;
      max-height: 250px;
      display: block;
      width: 20rem;
      height: 20rem;
      position: absolute;
      border-radius: 50%;
      background-image: url('https://www.solarsystemscope.com/textures/download/2k_earth_clouds.jpg');
      background-repeat: repeat-x;
      background-size: 110% 100%;
      opacity: 25%;
      animation-name: planetRotation;
      animation-duration: 20s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards !important;
     
      }
  
  .moon{
    .infomoon {
      position: fixed;
      top: 0;
      right: -700px;
      width: 600px;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.9);
      transition: right 0.6s;
      z-index: 999;
      color: black;
      padding: 10px;
      overflow-y: auto;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      &.open {
        right: 0;
      }
      #closeinfo {
        border: 1px solid white;
        text-align: center;
        width: 110px;
        font-family: 'Pobeda';
        color: #ffffff;
        background-color: black;
        text-decoration: none;
        margin: 0 35px;
        font-size: 25px;
        position: relative;
        transition: all 0.5s;
        padding: 0 15px;
        top: -10px;
        cursor: pointer;

        &:hover {
            color: black;
            text-shadow: 0 0 4px rgba(255, 255, 255, 1);
            background-color: white;
            border: 1px solid black;
        }
    }
      #editTextBtn{
        display: none;
        border: 1px solid white;
        text-align: center;
        width: 50px;
        font-family: 'Pobeda';
        color: #ffffff;
        text-decoration: none;
        margin: 0 35px;
        font-size: 25px;
        position: relative;
        transition: all 0.5s;
        padding: 0 10px;
        top: -10px;
        cursor: pointer;
        &:hover {
            color: black;
            text-shadow: 0 0 4px rgba(255, 255, 255, 1);
            background-color: white;
            border: 1px solid black;
      }
  
    }
    #saveTextBtn{
      display: none;
      border: 1px solid white;
      text-align: center;
      width: 150px;
      font-family: 'Pobeda';
      color: #ffffff;
      text-decoration: none;
      margin: 0 35px;
      font-size: 25px;
      position: relative;
      transition: all 0.5s;
      padding: 0 10px;
      top: -10px;
      cursor: pointer;
      &:hover {
          color: black;
          text-shadow: 0 0 4px rgba(255, 255, 255, 1);
          background-color: white;
          border: 1px solid black;
    }
  }
    }
    a {
      span{ 
        left: 2px;
      }
      position: relative;
      display: inline-block;
      padding: 15px 30px;
      border: 2px solid #fefefe;
      text-transform: uppercase;
      color: #fefefe;
      text-decoration: none;
      font-weight: 100;
      font-size: 24px;
      letter-spacing: 3px;
      font-family: 'Pobeda';
      
    }
    a::before {
      content: '';
      position: absolute;
      top: 6px;
      left: -2px;
      width: calc(100% + 4px);
      height: calc(100% - 12px);
      background-color: #212121;
      transition: 0.3s ease-in-out;
      transform: scaleY(1);
    }
    
    a:hover::before {
      transform: scaleY(0);
    }
    
    a::after {
      content: '';
      position: absolute;
      left: 6px;
      top: -2px;
      height: calc(100% + 4px);
      width: calc(100% - 12px);
      background-color: #212121;
      transition: 0.3s ease-in-out;
      transform: scaleX(1);
      transition-delay: 0.5s;
    }
    
    a:hover::after {
      transform: scaleX(0);
    }
    
    a span {
      position: relative;
      z-index: 3;
    }
    button {
      position: relative;
      background-color: none;
      text-decoration: none;
      background-color: rgba(11, 11, 12, 0.473);
      border: none;
      top: 265px;
      left: 40px;
    }
    .txtmoon{
      position: absolute;
      left: 37%;
      top: -70px;
      font-weight: 100;
      font-size: 24px;
      letter-spacing: 3px;
      font-family: 'Pobeda';
      font-size:x-large;
  
    }
  top: 605px;
  max-width: 250px;
  max-height: 250px;
  display: block;
  width: 20rem;
  height: 20rem;
  position: absolute;
  border-radius: 50%;
  background-image: url('https://www.solarsystemscope.com/textures/download/2k_moon.jpg');
  background-repeat: repeat-x;
  background-size: 110% 100%;
  opacity: 1;
  animation-name: planetRotation;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards !important;
  box-shadow: inset -10px 8px 6px -5px #ffffff, 
  inset 20px -20px 40px 30px rgba(0, 0, 0, 0.9), 7px -6px 14px rgba(255, 255, 255, 0.3215686275);
  }

    
    .mars{
      .infomars {
        position: fixed;
        top: 0;
        right: -700px;
        width: 600px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        transition: right 0.6s;
        z-index: 999;
        color: black;
        padding: 10px;
        overflow-y: auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        &.open {
          right: 0;
        }
        #closeinfo {
          border: 1px solid white;
          text-align: center;
          width: 110px;
          font-family: 'Pobeda';
          color: #ffffff;
          text-decoration: none;
          margin: 0 35px;
          font-size: 25px;
          position: relative;
          transition: all 0.5s;
          padding: 0 15px;
          top: -10px;
          cursor: pointer;
  
          &:hover {
              color: black;
              text-shadow: 0 0 4px rgba(255, 255, 255, 1);
              background-color: white;
              border: 1px solid black;
          }
      }
        #editTextBtn{
          display: none;
          border: 1px solid white;
          text-align: center;
          width: 50px;
          font-family: 'Pobeda';
          color: #ffffff;
          text-decoration: none;
          margin: 0 35px;
          font-size: 25px;
          position: relative;
          transition: all 0.5s;
          padding: 0 10px;
          top: -10px;
          cursor: pointer;
          &:hover {
              color: black;
              text-shadow: 0 0 4px rgba(255, 255, 255, 1);
              background-color: white;
              border: 1px solid black;
        }
    
      }
      #saveTextBtn{
        display: none;
        border: 1px solid white;
        text-align: center;
        width: 150px;
        font-family: 'Pobeda';
        color: #ffffff;
        text-decoration: none;
        margin: 0 35px;
        font-size: 25px;
        position: relative;
        transition: all 0.5s;
        padding: 0 10px;
        top: -10px;
        cursor: pointer;
        &:hover {
            color: black;
            text-shadow: 0 0 4px rgba(255, 255, 255, 1);
            background-color: white;
            border: 1px solid black;
      }
    }
      }
      a {
        span{ 
          left: 2px;
        }
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        border: 2px solid #fefefe;
        text-transform: uppercase;
        color: #fefefe;
        text-decoration: none;
        font-weight: 100;
        font-size: 24px;
        letter-spacing: 3px;
        font-family: 'Pobeda';
      }
      
      a::before {
        content: '';
        position: absolute;
        top: 6px;
        left: -2px;
        width: calc(100% + 4px);
        height: calc(100% - 12px);
        background-color: #212121;
        transition: 0.3s ease-in-out;
        transform: scaleY(1);
      }
      
      a:hover::before {
        transform: scaleY(0);
      }
      
      a::after {
        content: '';
        position: absolute;
        left: 6px;
        top: -2px;
        height: calc(100% + 4px);
        width: calc(100% - 12px);
        background-color: #212121;
        transition: 0.3s ease-in-out;
        transform: scaleX(1);
        transition-delay: 0.5s;
      }
      
      a:hover::after {
        transform: scaleX(0);
      }
      
      a span {
        position: relative;
        z-index: 3;
      }
      
      button {
        position: relative;
        background-color: none;
        text-decoration: none;
        background-color: rgba(11, 11, 12, 0.473);
        border: none;
        top: 265px;
        left: 46px;
      }
      .txtmars{
        position: absolute;
        left: 37%;
        top: -70px;
        font-weight: 100;
        font-size: 24px;
        letter-spacing: 3px;
        font-family: 'Pobeda';
        font-size:x-large;
    
      }
    top: 100px;;
    left: 570px;
    max-width: 250px;
    max-height: 250px;
    display: block;
    width: 20rem;
    height: 20rem;
    position: absolute;
    border-radius: 50%;
    background-image: url('https://www.solarsystemscope.com/textures/download/2k_mars.jpg');
    background-repeat: repeat-x;
    background-size: 110% 100%;
    opacity: 1;
    animation-name: planetRotation;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards !important;
    box-shadow: inset -10px 8px 6px -5px #a34d1b, 
        inset 20px -20px 40px 30px rgba(0, 0, 0, 0.9), 7px -6px 14px rgba(238, 48, 0, 0.322);
    }
 
      .mercury{
        .infomercury {
          position: fixed;
          top: 0;
          right: -700px;
          width: 600px;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.9);
          transition: right 0.6s;
          z-index: 999;
          color: black;
          padding: 10px;
          overflow-y: auto;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          &.open {
            right: 0;
          }
          #closeinfo {
            border: 1px solid white;
            text-align: center;
            width: 110px;
            font-family: 'Pobeda';
            color: #ffffff;
            background-color: black;
            text-decoration: none;
            margin: 0 35px;
            font-size: 25px;
            position: relative;
            transition: all 0.5s;
            padding: 0 15px;
            top: -10px;
            cursor: pointer;
    
            &:hover {
                color: black;
                text-shadow: 0 0 4px rgba(255, 255, 255, 1);
                background-color: white;
                border: 1px solid black;
            }
        }
          #editTextBtn{
            display: none;
            border: 1px solid white;
            text-align: center;
            width: 50px;
            font-family: 'Pobeda';
            color: #ffffff;
            text-decoration: none;
            margin: 0 35px;
            font-size: 25px;
            position: relative;
            transition: all 0.5s;
            padding: 0 10px;
            top: -10px;
            cursor: pointer;
            &:hover {
                color: black;
                text-shadow: 0 0 4px rgba(255, 255, 255, 1);
                background-color: white;
                border: 1px solid black;
          }
      
        }
        #saveTextBtn{
          display: none;
          border: 1px solid white;
          text-align: center;
          width: 150px;
          font-family: 'Pobeda';
          color: #ffffff;
          text-decoration: none;
          margin: 0 35px;
          font-size: 25px;
          position: relative;
          transition: all 0.5s;
          padding: 0 10px;
          top: -10px;
          cursor: pointer;
          &:hover {
              color: black;
              text-shadow: 0 0 4px rgba(255, 255, 255, 1);
              background-color: white;
              border: 1px solid black;
        }
      }
        }
        a {
          span{ 
            left: 2px;
          }
          position: relative;
          display: inline-block;
          padding: 15px 30px;
          border: 2px solid #fefefe;
          text-transform: uppercase;
          color: #fefefe;
          text-decoration: none;
          font-weight: 100;
          font-size: 24px;
          letter-spacing: 3px;
          font-family: 'Pobeda';
        }
        
        a::before {
          content: '';
          position: absolute;
          top: 6px;
          left: -2px;
          width: calc(100% + 4px);
          height: calc(100% - 12px);
          background-color: #212121;
          transition: 0.3s ease-in-out;
          transform: scaleY(1);
        }
        
        a:hover::before {
          transform: scaleY(0);
        }
        
        a::after {
          content: '';
          position: absolute;
          left: 6px;
          top: -2px;
          height: calc(100% + 4px);
          width: calc(100% - 12px);
          background-color: #212121;
          transition: 0.3s ease-in-out;
          transform: scaleX(1);
          transition-delay: 0.5s;
        }
        
        a:hover::after {
          transform: scaleX(0);
        }
        
        a span {
          position: relative;
          z-index: 3;
        }
        
        button {
          position: relative;
          background-color: none;
          text-decoration: none;
          background-color: rgba(11, 11, 12, 0.473);
          border: none;
          top: 265px;
          left: 46px;
        }
        .txtmercury{
          position: absolute;
          left: 24%;
          top: -70px;
          font-weight: 100;
          font-size: 24px;
          letter-spacing: 3px;
          font-family: 'Pobeda';
          font-size:x-large;
      
        }
        top: 605px; 
        left:  570px;
        max-width: 250px;
        max-height: 250px;
        display: block;
        width: 20rem;
        height: 20rem;
        position: absolute;
        border-radius: 50%;
        background-image: url('https://www.solarsystemscope.com/textures/download/2k_mercury.jpg');
        background-repeat: repeat-x;
        background-size: 110% 100%;
        opacity: 1;
        animation-name: planetRotation;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards !important;
        box-shadow: inset -10px 8px 6px -5px #acabab, 
        inset 20px -20px 40px 30px rgba(0, 0, 0, 0.9), 7px -6px 14px rgba(255, 255, 255, 0.3215686275);
        }

        .venus{
          .infovenus {
            z-index: 999;
            position: fixed;
            top: 0;
            right: -700px;
            width: 600px;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.9);
            transition: right 0.6s;
            color: black;
            padding: 10px;
            overflow-y: auto;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            &.open {
              right: 0;
            }
            #closeinfo {
              border: 1px solid white;
              text-align: center;
              width: 110px;
              font-family: 'Pobeda';
              color: #ffffff;
              background-color: black;
              text-decoration: none;
              margin: 0 35px;
              font-size: 25px;
              position: relative;
              transition: all 0.5s;
              padding: 0 15px;
              top: -10px;
              cursor: pointer;
      
              &:hover {
                  color: black;
                  text-shadow: 0 0 4px rgba(255, 255, 255, 1);
                  background-color: white;
                  border: 1px solid black;
              }
          }
            #editTextBtn{
              display: none;
              border: 1px solid white;
              text-align: center;
              width: 50px;
              font-family: 'Pobeda';
              color: #ffffff;
              text-decoration: none;
              margin: 0 35px;
              font-size: 25px;
              position: relative;
              transition: all 0.5s;
              padding: 0 10px;
              top: -10px;
              cursor: pointer;
              &:hover {
                  color: black;
                  text-shadow: 0 0 4px rgba(255, 255, 255, 1);
                  background-color: white;
                  border: 1px solid black;
            }
        
          }
          #saveTextBtn{
            display: none;
            border: 1px solid white;
            text-align: center;
            width: 150px;
            font-family: 'Pobeda';
            color: #ffffff;
            text-decoration: none;
            margin: 0 35px;
            font-size: 25px;
            position: relative;
            transition: all 0.5s;
            padding: 0 10px;
            top: -10px;
            cursor: pointer;
            &:hover {
                color: black;
                text-shadow: 0 0 4px rgba(255, 255, 255, 1);
                background-color: white;
                border: 1px solid black;
          }
        }
          }
          a {
            span{ 
              left: 2px;
            }
            position: relative;
            display: inline-block;
            padding: 15px 30px;
            border: 2px solid #fefefe;
            text-transform: uppercase;
            color: #fefefe;
            text-decoration: none;
            font-weight: 100;
            font-size: 24px;
            letter-spacing: 3px;
            font-family: 'Pobeda';
          }
          
          a::before {
            content: '';
            position: absolute;
            top: 6px;
            left: -2px;
            width: calc(100% + 4px);
            height: calc(100% - 12px);
            background-color: #212121;
            transition: 0.3s ease-in-out;
            transform: scaleY(1);
          }
          
          a:hover::before {
            transform: scaleY(0);
          }
          
          a::after {
            content: '';
            position: absolute;
            left: 6px;
            top: -2px;
            height: calc(100% + 4px);
            width: calc(100% - 12px);
            background-color: #212121;
            transition: 0.3s ease-in-out;
            transform: scaleX(1);
            transition-delay: 0.5s;
          }
          
          a:hover::after {
            transform: scaleX(0);
          }
          
          a span {
            position: relative;
            z-index: 3;
          }
          
          button {
            position: relative;
            background-color: none;
            text-decoration: none;
            background-color: rgba(11, 11, 12, 0.473);
            border: none;
            top: 265px;
            left: 46px;
          }
          .txtvenus{
            position: absolute;
            left: 32%;
            top: -70px;
            font-weight: 100;
            font-size: 24px;
            letter-spacing: 3px;
            font-family: 'Pobeda';
            font-size:x-large;
        
          }
          top: 605px; 
          left:  1140px;
          max-width: 250px;
          max-height: 250px;
          display: block;
          width: 20rem;
          height: 20rem;
          position: absolute;
          border-radius: 50%;
          background-image: url('https://www.solarsystemscope.com/textures/download/2k_venus_surface.jpg');
          background-repeat: repeat-x;
          background-size: 110% 100%;
          opacity: 1;
          animation-name: planetRotation;
          animation-duration: 20s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          animation-fill-mode: forwards !important;
          box-shadow: inset -10px 8px 6px -5px #b87612, 
          inset 20px -20px 40px 30px rgba(0, 0, 0, 0.9), 7px -6px 14px rgba(172, 103, 12, 0.322);
          }
          .jupiter{
            .infojupiter {
              position: fixed;
              top: 0;
              right: -700px;
              width: 600px;
              height: 100%;
              background-color: rgba(255, 255, 255, 0.9);
              transition: right 0.6s;
              z-index: 999;
              color: black;
              padding: 10px;
              overflow-y: auto;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              &.open {
                right: 0;
              }
              #closeinfo {
                border: 1px solid white;
                text-align: center;
                width: 110px;
                font-family: 'Pobeda';
                color: #ffffff;
                background-color: black;
                text-decoration: none;
                margin: 0 35px;
                font-size: 25px;
                position: relative;
                transition: all 0.5s;
                padding: 0 15px;
                top: -10px;
                cursor: pointer;
        
                &:hover {
                    color: black;
                    text-shadow: 0 0 4px rgba(255, 255, 255, 1);
                    background-color: white;
                    border: 1px solid black;
                }
            }
              #editTextBtn{
                display: none;
                border: 1px solid white;
                text-align: center;
                width: 50px;
                font-family: 'Pobeda';
                color: #ffffff;
                text-decoration: none;
                margin: 0 35px;
                font-size: 25px;
                position: relative;
                transition: all 0.5s;
                padding: 0 10px;
                top: -10px;
                cursor: pointer;
                &:hover {
                    color: black;
                    text-shadow: 0 0 4px rgba(255, 255, 255, 1);
                    background-color: white;
                    border: 1px solid black;
              }
          
            }
            #saveTextBtn{
              display: none;
              border: 1px solid white;
              text-align: center;
              width: 150px;
              font-family: 'Pobeda';
              color: #ffffff;
              text-decoration: none;
              margin: 0 35px;
              font-size: 25px;
              position: relative;
              transition: all 0.5s;
              padding: 0 10px;
              top: -10px;
              cursor: pointer;
              &:hover {
                  color: black;
                  text-shadow: 0 0 4px rgba(255, 255, 255, 1);
                  background-color: white;
                  border: 1px solid black;
            }
          }
            }
            a {
              span{ 
                left: 2px;
              }
              position: relative;
              display: inline-block;
              padding: 15px 30px;
              border: 2px solid #fefefe;
              text-transform: uppercase;
              color: #fefefe;
              text-decoration: none;
              font-weight: 100;
              font-size: 24px;
              letter-spacing: 3px;
              font-family: 'Pobeda';
            }
            
            a::before {
              content: '';
              position: absolute;
              top: 6px;
              left: -2px;
              width: calc(100% + 4px);
              height: calc(100% - 12px);
              background-color: #212121;
              transition: 0.3s ease-in-out;
              transform: scaleY(1);
            }
            
            a:hover::before {
              transform: scaleY(0);
            }
            
            a::after {
              content: '';
              position: absolute;
              left: 6px;
              top: -2px;
              height: calc(100% + 4px);
              width: calc(100% - 12px);
              background-color: #212121;
              transition: 0.3s ease-in-out;
              transform: scaleX(1);
              transition-delay: 0.5s;
            }
            
            a:hover::after {
              transform: scaleX(0);
            }
            
            a span {
              position: relative;
              z-index: 3;
            }
            
            button {
              position: relative;
              background-color: none;
              text-decoration: none;
              background-color: rgba(11, 11, 12, 0.473);
              border: none;
              top: 265px;
              left: 40px;
            }
            .txtjupiter{
              position: absolute;
              left: 30%;
              top: -70px;
              font-weight: 100;
              font-size: 24px;
              letter-spacing: 3px;
              font-family: 'Pobeda';
              font-size:x-large;
          
            }
            top: 100px; 
            left:  1140px;
            max-width: 250px;
            max-height: 250px;
            display: block;
            width: 20rem;
            height: 20rem;
            position: absolute;
            border-radius: 50%;
            background-image: url('https://www.solarsystemscope.com/textures/download/2k_jupiter.jpg');
            background-repeat: repeat-x;
            background-size: 110% 100%;
            opacity: 1;
            animation-name: planetRotation;
            animation-duration: 20s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards !important;
            box-shadow: inset -10px 8px 6px -5px #bea278, 
            inset 20px -20px 40px 30px rgba(0, 0, 0, 0.9), 7px -6px 14px rgba(218, 187, 147, 0.322);
            }
            .saturn{
              .infosaturn {
                position: fixed;
                top: 0;
                right: -700px;
                width: 600px;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.9);
                transition: right 0.6s;
                z-index: 999;
                color: black;
                padding: 10px;
                overflow-y: auto;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            
                &.open {
                    right: 0;
                }
            
                #closeinfo {
                  border: 1px solid white;
                  text-align: center;
                  width: 110px;
                  font-family: 'Pobeda';
                  color: #ffffff;
                  text-decoration: none;
                  margin: 0 35px;
                  font-size: 25px;
                  position: relative;
                  transition: all 0.5s;
                  padding: 0 15px;
                  top: -10px;
                  cursor: pointer;
          
                  &:hover {
                      color: black;
                      text-shadow: 0 0 4px rgba(255, 255, 255, 1);
                      background-color: white;
                      border: 1px solid black;
                  }
              }
                #editTextBtn{
                  display: none;
                  border: 1px solid white;
                  text-align: center;
                  width: 50px;
                  font-family: 'Pobeda';
                  color: #ffffff;
                  text-decoration: none;
                  margin: 0 35px;
                  font-size: 25px;
                  position: relative;
                  transition: all 0.5s;
                  padding: 0 10px;
                  top: -10px;
                  cursor: pointer;
                  &:hover {
                      color: black;
                      text-shadow: 0 0 4px rgba(255, 255, 255, 1);
                      background-color: white;
                      border: 1px solid black;
                }
            
              }
              #saveTextBtn{
                display: none;
                border: 1px solid white;
                text-align: center;
                width: 150px;
                font-family: 'Pobeda';
                color: #ffffff;
                text-decoration: none;
                margin: 0 35px;
                font-size: 25px;
                position: relative;
                transition: all 0.5s;
                padding: 0 10px;
                top: -10px;
                cursor: pointer;
                &:hover {
                    color: black;
                    text-shadow: 0 0 4px rgba(255, 255, 255, 1);
                    background-color: white;
                    border: 1px solid black;
              }
            }
            }
            a {
              span{ 
                left: 2px;
              }
              position: relative;
              display: inline-block;
              padding: 15px 30px;
              border: 2px solid #fefefe;
              text-transform: uppercase;
              color: #fefefe;
              text-decoration: none;
              font-weight: 100;
              font-size: 24px;
              letter-spacing: 3px;
              font-family: 'Pobeda';
            }
              
              a::before {
                content: '';
                position: absolute;
                top: 6px;
                left: -2px;
                width: calc(100% + 4px);
                height: calc(100% - 12px);
                background-color: #212121;
                transition: 0.3s ease-in-out;
                transform: scaleY(1);
              }
              
              a:hover::before {
                transform: scaleY(0);
              }
              
              a::after {
                content: '';
                position: absolute;
                left: 6px;
                top: -2px;
                height: calc(100% + 4px);
                width: calc(100% - 12px);
                background-color: #212121;
                transition: 0.3s ease-in-out;
                transform: scaleX(1);
                transition-delay: 0.5s;
              }
              
              a:hover::after {
                transform: scaleX(0);
              }
              
              a span {
                position: relative;
                z-index: 3;
              }
              
              button {
                position: relative;
                background-color: none;
                text-decoration: none;
                background-color: rgba(11, 11, 12, 0.473);
                border: none;
                top: 265px;
                left: 40px;
              }
              .txtsaturn{
                position: absolute;
                left: 31%;
                top: -70px;
                font-weight: 100;
                font-size: 24px;
                letter-spacing: 3px;
                font-family: 'Pobeda';
                font-size:x-large;
            
              }
              top: 1100px;
              max-width: 250px;
              max-height: 250px;
              display: block;
              width: 20rem;
              height: 20rem;
              position: absolute;
              border-radius: 50%;
              background-image: url('https://www.solarsystemscope.com/textures/download/2k_saturn.jpg');
              background-repeat: repeat-x;
              background-size: 110% 100%;
              opacity: 1;
              animation-name: planetRotation;
              animation-duration: 10s;
              animation-timing-function: linear;
              animation-iteration-count: infinite;
              animation-fill-mode: forwards !important;
              box-shadow: inset -10px 8px 6px -5px #e9e49c, 
              inset 20px -20px 40px 30px rgba(0, 0, 0, 0.9), 7px -6px 14px rgba(219, 212, 142, 0.322);
          }
          .saturn-ring{
            z-index: 3;
            position: relative;
            top: 970px;
            left: 95px;
            max-width: 55px;
            max-height: 450px;
            display: block;
            width: 10rem;
            height: 90rem;
            transform: rotate(120deg);
            background-image: url('https://www.solarsystemscope.com/textures/download/2k_saturn_ring_alpha.png');
            background-repeat: repeat-x;
            background-size: 110% 100%;
            opacity: 1;
            border-radius: 100%;
            animation-name: planetRotation;
            animation-duration: 16s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards !important;
        }
        .saturn-ring2{
          z-index: -1;
          position: relative;
          top: 520px;
          left: 95px;
          max-width: 55px;
          max-height: 450px;
          display: block;
          width: 10rem;
          height: 90rem;
          transform: rotate(120deg);
          background-image: url('https://www.solarsystemscope.com/textures/download/2k_saturn_ring_alpha.png');
          background-repeat: repeat-x;
          background-size: 110% 100%;
          opacity: 1;
          border-radius: 40%;
          animation-name: planetRotation;
          animation-duration: 16s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          animation-fill-mode: forwards !important;
      }
      .uranus{
        .infouranus {
          position: fixed;
          top: 0;
          right: -700px;
          width: 600px;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.9);
          transition: right 0.6s;
          z-index: 999;
          color: black;
          padding: 10px;
          overflow-y: auto;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
          &.open {
              right: 0;
          }
          #closeinfo {
            border: 1px solid white;
            text-align: center;
            width: 110px;
            font-family: 'Pobeda';
            color: #ffffff;
            text-decoration: none;
            margin: 0 35px;
            font-size: 25px;
            position: relative;
            transition: all 0.5s;
            padding: 0 15px;
            top: -10px;
            cursor: pointer;
    
            &:hover {
                color: black;
                text-shadow: 0 0 4px rgba(255, 255, 255, 1);
                background-color: white;
                border: 1px solid black;
            }
        }
          #editTextBtn{
            display: none;
            border: 1px solid white;
            text-align: center;
            width: 50px;
            font-family: 'Pobeda';
            color: #ffffff;
            text-decoration: none;
            margin: 0 35px;
            font-size: 25px;
            position: relative;
            transition: all 0.5s;
            padding: 0 10px;
            top: -10px;
            cursor: pointer;
            &:hover {
                color: black;
                text-shadow: 0 0 4px rgba(255, 255, 255, 1);
                background-color: white;
                border: 1px solid black;
          }
      
        }
        #saveTextBtn{
          display: none;
          border: 1px solid white;
          text-align: center;
          width: 150px;
          font-family: 'Pobeda';
          color: #ffffff;
          text-decoration: none;
          margin: 0 35px;
          font-size: 25px;
          position: relative;
          transition: all 0.5s;
          padding: 0 10px;
          top: -10px;
          cursor: pointer;
          &:hover {
              color: black;
              text-shadow: 0 0 4px rgba(255, 255, 255, 1);
              background-color: white;
              border: 1px solid black;
        }
      }
         
        }
        
        a {
          span{ 
            left: 2px;
          }
          position: relative;
          display: inline-block;
          padding: 15px 30px;
          border: 2px solid #fefefe;
          text-transform: uppercase;
          color: #fefefe;
          text-decoration: none;
          font-weight: 100;
          font-size: 24px;
          letter-spacing: 3px;
          font-family: 'Pobeda';
        }
        
        a::before {
          content: '';
          position: absolute;
          top: 6px;
          left: -2px;
          width: calc(100% + 4px);
          height: calc(100% - 12px);
          background-color: #212121;
          transition: 0.3s ease-in-out;
          transform: scaleY(1);
        }
        
        a:hover::before {
          transform: scaleY(0);
        }
        
        a::after {
          content: '';
          position: absolute;
          left: 6px;
          top: -2px;
          height: calc(100% + 4px);
          width: calc(100% - 12px);
          background-color: #212121;
          transition: 0.3s ease-in-out;
          transform: scaleX(1);
          transition-delay: 0.5s;
        }
        
        a:hover::after {
          transform: scaleX(0);
        }
        
        a span {
          position: relative;
          z-index: 3;
        }
        button {
          position: relative;
          background-color: none;
          text-decoration: none;
          background-color: rgba(11, 11, 12, 0.473);
          border: none;
          top: 265px;
          left: 40px;
        }
        .txturanus{
          position: absolute;
          left: 38%;
          top: -70px;
          font-weight: 100;
          font-size: 24px;
          letter-spacing: 3px;
          font-family: 'Pobeda';
          font-size:x-large;
      
        }
        top: 1100px;
        left: 570px;
        max-width: 250px;
        max-height: 250px;
        display: block;
        width: 20rem;
        height: 20rem;
        position: absolute;
        border-radius: 50%;
        background-image: url('https://www.solarsystemscope.com/textures/download/2k_uranus.jpg');
        background-repeat: repeat-x;
        background-size: 110% 100%;
        opacity: 1;
        animation-name: planetRotation;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards !important;
        box-shadow: inset -10px 8px 6px -5px #569db3, 
        inset 20px -20px 40px 30px rgba(0, 0, 0, 0.9), 7px -6px 14px rgba(82, 225, 230, 0.322);
    }
    .neptune{
      .infoneptune {
        position: fixed;
        top: 0;
        right: -700px;
        width: 600px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        transition: right 0.6s;
        z-index: 999;
        color: black;
        padding: 10px;
        overflow-y: auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      
        &.open {
            right: 0;
        }
      
        #closeinfo {
          border: 1px solid white;
          text-align: center;
          width: 110px;
          font-family: 'Pobeda';
          color: #ffffff;
          text-decoration: none;
          margin: 0 35px;
          font-size: 25px;
          position: relative;
          transition: all 0.5s;
          padding: 0 15px;
          top: -10px;
          cursor: pointer;
  
          &:hover {
              color: black;
              text-shadow: 0 0 4px rgba(255, 255, 255, 1);
              background-color: white;
              border: 1px solid black;
          }
      }
        #editTextBtn{
          display: none;
          border: 1px solid white;
          text-align: center;
          width: 50px;
          font-family: 'Pobeda';
          color: #ffffff;
          text-decoration: none;
          margin: 0 35px;
          font-size: 25px;
          position: relative;
          transition: all 0.5s;
          padding: 0 10px;
          top: -10px;
          cursor: pointer;
          &:hover {
              color: black;
              text-shadow: 0 0 4px rgba(255, 255, 255, 1);
              background-color: white;
              border: 1px solid black;
        }
    
      }
      #saveTextBtn{
        display: none;
        border: 1px solid white;
        text-align: center;
        width: 150px;
        font-family: 'Pobeda';
        color: #ffffff;
        text-decoration: none;
        margin: 0 35px;
        font-size: 25px;
        position: relative;
        transition: all 0.5s;
        padding: 0 10px;
        top: -10px;
        cursor: pointer;
        &:hover {
            color: black;
            text-shadow: 0 0 4px rgba(255, 255, 255, 1);
            background-color: white;
            border: 1px solid black;
      }
    }
      }
      a {
        span{ 
          left: 2px;
        }
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        border: 2px solid #fefefe;
        text-transform: uppercase;
        color: #fefefe;
        text-decoration: none;
        font-weight: 100;
        font-size: 24px;
        letter-spacing: 3px;
        font-family: 'Pobeda';
      }
      
      a::before {
        content: '';
        position: absolute;
        top: 6px;
        left: -2px;
        width: calc(100% + 4px);
        height: calc(100% - 12px);
        background-color: #212121;
        transition: 0.3s ease-in-out;
        transform: scaleY(1);
      }
      
      a:hover::before {
        transform: scaleY(0);
      }
      
      a::after {
        content: '';
        position: absolute;
        left: 6px;
        top: -2px;
        height: calc(100% + 4px);
        width: calc(100% - 12px);
        background-color: #212121;
        transition: 0.3s ease-in-out;
        transform: scaleX(1);
        transition-delay: 0.5s;
      }
      
      a:hover::after {
        transform: scaleX(0);
      }
      
      a span {
        position: relative;
        z-index: 3;
      }
      
      button {
        position: relative;
        background-color: none;
        text-decoration: none;
        background-color: rgba(11, 11, 12, 0.473);
        border: none;
        top: 265px;
        left: 40px;
      }
      .txtneptune{
        position: absolute;
        left: 31%;
        top: -70px;
        font-weight: 100;
        font-size: 24px;
        letter-spacing: 3px;
        font-family: 'Pobeda';
        font-size:x-large;
    
      }
      top: 1100px;
      left: 1140px;
      max-width: 250px;
      max-height: 250px;
      display: block;
      width: 20rem;
      height: 20rem;
      position: absolute;
      border-radius: 50%;
      background-image: url('https://www.solarsystemscope.com/textures/download/2k_neptune.jpg');
      background-repeat: repeat-x;
      background-size: 110% 100%;
      opacity: 1;
      animation-name: planetRotation;
      animation-duration: 20s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards !important;
      box-shadow: inset -10px 8px 6px -5px #413fad, 
      inset 20px -20px 40px 30px rgba(0, 0, 0, 0.9), 7px -6px 14px rgba(82, 104, 230, 0.322);
  }
  .sun{
    .infosun {
      position: fixed;
      top: 0;
      right: -700px;
      width: 600px;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.9);
      transition: right 0.6s;
      z-index: 999;
      color: black;
      padding: 10px;
      overflow-y: auto;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
      &.open {
          right: 0;
      }
    
      #closeinfo {
        border: 1px solid white;
        text-align: center;
        width: 110px;
        font-family: 'Pobeda';
        color: #ffffff;
        background-color: black;
        text-decoration: none;
        margin: 0 35px;
        font-size: 25px;
        position: relative;
        transition: all 0.5s;
        padding: 0 15px;
        top: -10px;
        cursor: pointer;

        &:hover {
            color: black;
            text-shadow: 0 0 4px rgba(255, 255, 255, 1);
            background-color: white;
            border: 1px solid black;
        }
    }
      #editTextBtn{
        display: none;
        border: 1px solid white;
        text-align: center;
        width: 50px;
        font-family: 'Pobeda';
        color: #ffffff;
        text-decoration: none;
        margin: 0 35px;
        font-size: 25px;
        position: relative;
        transition: all 0.5s;
        padding: 0 10px;
        top: -10px;
        cursor: pointer;
        &:hover {
            color: black;
            text-shadow: 0 0 4px rgba(255, 255, 255, 1);
            background-color: white;
            border: 1px solid black;
      }
  
    }
    #saveTextBtn{
      display: none;
      border: 1px solid white;
      text-align: center;
      width: 150px;
      font-family: 'Pobeda';
      color: #ffffff;
      text-decoration: none;
      margin: 0 35px;
      font-size: 25px;
      position: relative;
      transition: all 0.5s;
      padding: 0 10px;
      top: -10px;
      cursor: pointer;
      &:hover {
          color: black;
          text-shadow: 0 0 4px rgba(255, 255, 255, 1);
          background-color: white;
          border: 1px solid black;
    }
  }
    }
    a {
      span{ 
        left: 2px;
      }
      position: relative;
      display: inline-block;
      padding: 15px 30px;
      border: 2px solid #fefefe;
      text-transform: uppercase;
      color: #fefefe;
      text-decoration: none;
      font-weight: 100;
      font-size: 24px;
      letter-spacing: 3px;
      font-family: 'Pobeda';
    }
    
    a::before {
      content: '';
      position: absolute;
      top: 6px;
      left: -2px;
      width: calc(100% + 4px);
      height: calc(100% - 12px);
      background-color: #212121;
      transition: 0.3s ease-in-out;
      transform: scaleY(1);
    }
    
    a:hover::before {
      transform: scaleY(0);
    }
    
    a::after {
      content: '';
      position: absolute;
      left: 6px;
      top: -2px;
      height: calc(100% + 4px);
      width: calc(100% - 12px);
      background-color: #212121;
      transition: 0.3s ease-in-out;
      transform: scaleX(1);
      transition-delay: 0.5s;
    }
    
    a:hover::after {
      transform: scaleX(0);
    }
    
    a span {
      position: relative;
      z-index: 3;
    }
    
    button {
      position: relative;
      background-color: none;
      text-decoration: none;
      background-color: rgba(11, 11, 12, 0.473);
      border: none;
      top: 265px;
      left: 40px;
    }
    .txtsun{
      position: absolute;
      left: 31.5%;
      top: -70px;
      font-weight: 100;
      font-size: 24px;
      letter-spacing: 3px;
      font-family: 'Pobeda';
      font-size:x-large;
  
    }
    top: 1620px;
    left: 570px;
    max-width: 250px;
    max-height: 250px;
    display: block;
    width: 20rem;
    height: 20rem;
    position: absolute;
    border-radius: 50%;
    background-image: url('https://www.solarsystemscope.com/textures/download/2k_sun.jpg');
    background-repeat: repeat-x;
    background-size: 110% 100%;
    opacity: 1;
    animation-name: planetRotation;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards !important;
    box-shadow: inset -10px 8px 6px -5px #aa5b00, 
    inset 20px -20px 40px 30px rgba(0, 0, 0, 0.9), 7px -6px 14px rgba(230, 154, 82, 0.322);
}
  }


  @media only screen and (max-width: 1024px) {
    body,html{
      height: 1600px;
      width: 110%;
    .planets{
      a{
        font-size: 15px !important;
        height: 1px !important;
        width: 50px !important;
      span{
        left: -7px !important;
        top: -7px !important;
      }
      }
      button{
        top: 125px !important;
        width: 20px !important;
        left: 1px !important;
      }
      p{
        font-size: 20px !important;
        top: -50px !important;
        left: 25px !important;
      }
  .earth{
    .infoearth{
      width: 300px !important;
      img{
        width: 260px !important;
      }
    }
    width: 120px !important;
    height: 120px !important;
    left: -230px !important;
    top: 20px !important;
  }
  .clouds{
    max-width: 120px !important;
    max-height: 120px !important;
    left: -230px !important;
    top: 20px !important;
  }
  .moon{
    .infomoon{
      width: 300px !important;
      img{
        width: 260px !important;
      }
    }
    max-width: 120px !important;
    max-height: 120px !important;
    left: -45px !important;
    top: 20px !important;
  }
  .mars{
    .infomars{
      width: 300px !important;
      img{
        width: 260px !important;
      }
    }
    max-width: 120px !important;
    max-height: 120px !important;
    left: -230px !important;
    top: 250px !important;
  }
  .mercury{
    .infomercury{
      width: 300px !important;
      img{
        width: 260px !important;
      }
    }
    max-width: 120px !important;
    max-height: 120px !important;
    left: -45px !important;
    top: 250px !important;
    .txtmercury{
      left: 5px !important;
      width: 150px !important;
    }
  }
  .venus{
    .infovenus{
      width: 300px !important;
      img{
        width: 260px !important;
      }
    }
    max-width: 120px !important;
    max-height: 120px !important;
    left: -230px !important;
    top: 500px !important;
    .txtvenus{
      left: 20px !important;
      width: 150px !important;
    }
  }
  .jupiter{
    .infojupiter{
      width: 300px !important;
      img{
        width: 260px !important;
      }
    }
    max-width: 120px !important;
    max-height: 120px !important;
    left: -45px !important;
    top: 500px !important;
    .txtjupiter{
      left: 20px !important;
      width: 150px !important;
    }
  }
  
  .saturn{
    .infosaturn{
      width: 300px !important;
      img{
        width: 260px !important;
      }
    }
    max-width: 120px !important;
    max-height: 120px !important;
    left: -230px !important;
    top: 750px !important;
    .txtsaturn{
      left: 20px !important;
      width: 150px !important;
    }
  }
  .saturn-ring{
    display: none;
  }
  .saturn-ring2{
   display: none;
  }
  .uranus{
    .infouranus{
      width: 300px !important;
      img{
        width: 260px !important;
      }
    }
    max-width: 120px !important;
    max-height: 120px !important;
    left: -45px !important;
    top: 750px !important;
  }
  .neptune{
    .infoneptune{
      width: 300px !important;
      img{
        width: 260px !important;
      }
    }
    max-width: 120px !important;
    max-height: 120px !important;
    left: -230px !important;
    top: 1000px !important;
    .txtneptune{
      left: 20px !important;
      width: 150px !important;
    }
  }
  .sun{
    .infosun{
      width: 300px !important;
      img{
        width: 260px !important;
      }
    }
    max-width: 120px !important;
    max-height: 120px !important;
    left: -45px !important;
    top: 1000px !important;
    .txtsun{
      left: 20px !important;
      width: 150px !important;
    }
  }
  }
}
  }